<%= stylesheet_link_tag 'article'%>
<% #현재의 게시판 정보, shared/_board_header.erb 참고 %>
<%= render partial: "shared/board_header"%>
<div class="container box button-list">
  <% #게시글 내용, shared/_article_content.erb 참고 %>
  <%= render partial: "shared/article_content"%>
  <% #게시글 목록, shared/_article_list.erb 참고 %>
  <%= render partial: "shared/article_list"%>
</div>
