<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Plain Page</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>Plain Page</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          관리자 페이지는 미완성입니다!
          아직 한참 멀었죠..ㅠㅠ<br>
          <h1>사용법</h1>
          여기서 쓸수 있는 페이지는 딱 세개뿐입니다. 관리 카테고리 안에 있는 (카테고리/게시판 관리), (게시글 관리), (회원관리) 이렇게 세부분 입니다
          <br> 본래 휴즈넷으로 돌아가려면 젤 왼쪽 위의 HUHS Admin 이라고 써있는 부분을 누르세요
          <h1>제작자</h1>
          <h3>2017년 1월 28일</h3>
          <span>휴즈인들에게 rails로 만들고 나서 첫번째 공개입니다. 나름 디자인부터 해킹까지 방어하기 위해 많은 시간을 쏟았지만 그에 비해 결과물이 좋게 비추일지 의문입니다</span>
          <br>정승호, 현주희, 권동주 참여
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
