<section id="main-slider" class="sub carousel" data-spy="affix" data-offset-top="140">
  <div class="black-glass"></div>
  <div class="navigation-bar"><%=@navigation.html_safe%></div>
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1 style="text-transform: capitalize;"><%=@board.name%></h1>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
</section><!--/#main-slider-->
