<h1 id="title">
  <% if @board%>
  <a href="/board/<%=@board.category.route%>/<%=@board.route%>" style="color:black"><%=@board.name%></a>
  <%else%>
  <%=params[:sended] || ""%>
  <%end%>
</h1>
