
    <!-- Custom fonts-->
    <link rel="stylesheet" media="all" href="/LIKE LION_files/application-05744b6ef1583b8b6bae95eba039ccec6063b781ebdd4c8f0de0e66530eb78d8.css">
    <link rel="stylesheet" media="all" href="/LIKE LION_files/histories-0cf0b928e022db2a0153b41754cb795ea7c80af59fecf102e9c1e37001b885e4.css">
    <script src="/LIKE LION_files/application-4a46995bc02625271dabf79686192010e1ba5f347f3da0925fb3959c0ca6f3f2.js.다운로드"></script>
    <link href="/LIKE LION_files/css" rel="stylesheet">



    <section class="onepage-swiper hidden-md-down">
  <!-- Slider main container -->
  <div class="swiper-container ver-pc swiper-container-vertical">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
        <!-- Slides -->

        <!-- Summary -->
        <div class="swiper-slide swiper-slide-active" style="height: 965px;">
          <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/summary/0-113d0ef4622e847461a39b746cb7d4202a6c6e3c141f828b5609cd1f3a97810d.png&#39;)">
            <div class="history-header container">

              <div class="history-header-box left">
                  <h1>HISTORY</h1>
                  <h2><font class="font-weight-bold"></font> 전세계<br>
                    <font class="font-weight-bold">130</font>여개 대학<br>
                    <font class="font-weight-bold">1,916</font>명 선발</h2>
              </div>

              <div class="history-header-box right">
                <!-- graph -->
                <img src="/LIKE LION_files/line-graph-56c3bd497bdc9881c854503c1ad18fd1cc85d32d2333fe1985609f7079855078.png" alt="Line graph">

              </div>

            </div>
          </div>
        </div>

        <!-- 4 -->
        <div class="swiper-slide swiper-slide-next" style="height: 965px;">
          <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/4th/4-1-2ee9716fac71d8082ce578ff86c3d2743e25c961deae871953096b561aab71ca.jpg&#39;)">

            <div class="history-header container">

              <div class="history-header-box left graph" style="text-align:center;">
                <!-- graph -->
                <img src="/LIKE LION_files/graph-4th-0430c0b60b05f7b1295c758afd6b4f3b7ef750730146329662ff5723d44be1ed.png" alt="Graph 4th">
                <div>
                  <!-- <a class="btn btn-transparent"href="#historyModal_1" data-toggle="modal">VIEW SERVICE Ⅰ</a>
                  <a class="btn btn-transparent">VIEW SERVICE Ⅱ</a> -->
                </div>
              </div>

              <div class="history-header-box right">


                <h3>2016</h3>
                <hr>
                <h1>4기</h1>
                <h6>2016년 3월 부터 미국, 호주, 일본을 비롯한 전국 81개 대학교, <br>
                  1,182명의 학생 (경쟁률 4.8:1)를 대상으로 진행되고 있습니다.<br><br>
                  Ruby on Rails를 기반으로 교육이 진행중이며, <br>
                  AWS, 스마일게이트, 프라이머, 구글캠퍼스 서울, 제이펍에서 도움주고 계십니다.</h6>

                <div class="history-header-box-img">
                  <img src="/LIKE LION_files/aws-5a0560b7650a6396dd464d7a56ba104071893f7f2609a15ac61b99f13c572971.png" alt="Aws">
                  <img src="/LIKE LION_files/smilegate-3f0acad62b610611f567288b68d9cad5591a24505344e5d937b8d5f34516ed88.png" alt="Smilegate">
                  <img src="/LIKE LION_files/primer-da2e447899a29f3b013fb49a4d6aea0ddfe84eee8568c882bedfbf0fe591a2a3.png" alt="Primer">
                  <img src="/LIKE LION_files/campusseoul-138adda7cbdcc0536e2c1c10d17a243f28095c787b3e5f5d77677bd50448fbbc.png" alt="Campusseoul">
                  <img src="/LIKE LION_files/jpub-c55a865cbde77f96093f554fbf8e72fd52cbfc5b1250e805ce41494da94b21d5.png" alt="Jpub">
                </div>

              </div>

            </div>
          </div>
        </div>

        <!-- 3 -->
        <div class="swiper-slide" style="height: 965px;">
          <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/3rd/3-1-8251d5324b2ea1e6a42c66c69888e348a94a9491f997c59e1f4949b66f1fd725.jpg&#39;)">

            <div class="history-header container">

              <div class="history-header-box left graph">
                <!-- pi graph -->
                <img src="/LIKE LION_files/graph-3rd-f3ba8e9cd5cea09c432c9421bfd83c920434e9a17b2203749c22626f99b9a2be.png" alt="Graph 3rd">

              </div>

              <div class="history-header-box right graph">

                <h3>2015</h3>
                <hr>
                <h1>3기</h1>
                <h6>2015년 6월 ~ 2015년 9월 동안 전국 35개 대학교, <br>
                  518명의 학생 (경쟁률 7.4:1) 을 대상으로 진행되었습니다.<br><br>
                  교육은 Ruby on Rails으로 이루어졌으며 <br>
                  구글캠퍼스 서울, AWS, 옐로모바일, 빙글, 본엔젤스에서 도움주셨습니다.</h6>

                <div class="history-header-box-img">
                  <img src="/LIKE LION_files/campusseoul-138adda7cbdcc0536e2c1c10d17a243f28095c787b3e5f5d77677bd50448fbbc(1).png" alt="Campusseoul">
                  <img src="/LIKE LION_files/aws-356cf4d6f3e79059c937bf2a7875d8410103a83a1ebebbef3ca425eee679339f.png" alt="Aws">
                  <img src="/LIKE LION_files/yellowmobile-4f8b6a8616fde20af35461d6f7a7e66267cc43b071db97b4920adbec8d547379.png" alt="Yellowmobile">
                  <img src="/LIKE LION_files/vingle-3b612cf3026b2e34613dd039fb2671c28417e766189381f020768c3262bd03c4.png" alt="Vingle">
                  <img src="/LIKE LION_files/bonangels-6689d4ca5532150069179921df0c9d35eb289718f6a2f552d922f4001ab3c437.png" alt="Bonangels">
                </div>

              </div>

            </div>
          </div>
        </div>

        <!-- 2 -->
        <div class="swiper-slide" style="height: 965px;">
          <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/2nd/2-1-a07ec9fc270cb97fa2606ae52eeda091f4903819448ed0df6e4ace34ddf4f827.jpg&#39;)">

            <div class="history-header container">

              <div class="history-header-box left graph">
                <!-- pi graph -->
                <img src="/LIKE LION_files/graph-2nd-5d56ca5764a1246e37dc610a2ea84900dcddc973e66a6b891e89d11f86e142f7.png" alt="Graph 2nd">

              </div>


              <div class="history-header-box right">

                <h3>2014</h3>
                <hr>
                <h1>2기</h1>
                <h6>2014년 5월 ~ 2014년 9월 동안 수도권 12개 대학교, <br>
                  177명의 학생 (경쟁률 6.1:1) 을 대상으로 진행되었습니다.<br><br>
                  교육은 Python, Flask으로 이루어졌으며 <br>
                  Google에서 도움주셨습니다.</h6>

                <div class="history-header-box-img">
                  <img src="/LIKE LION_files/google-75d9ad6ea5cdd2932ee9cc1fd965661539cb212b0bad337de8e4fc13c7eac8d9.png" alt="Google">
                </div>

              </div>

            </div>
          </div>
        </div>


        <!-- 4 -->
        <div class="swiper-slide" style="height: 965px;">
          <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/1st/1-1-8d4246676b991604107438b73e4db53f0c4d2a8568cb96b07e8f872e1d98c4db.jpg&#39;)">

            <div class="history-header container">

              <div class="history-header-box left graph">
                <!-- pi graph -->
                <img src="/LIKE LION_files/graph-1st-45482f5a4b8d217a896e0a36d1f8adb9eeee4025e3330cd6bae6409ea2ac6e23.png" alt="Graph 1st">

              </div>


              <div class="history-header-box right">

                <h3>2013</h3>
                <hr>
                <h1>1기</h1>
                <h6>2013년 4월 ~ 2013년 9월 동안 서울대학교, <br>
                  30명의 학생 (경쟁률 7:1) 을 대상으로 진행되었습니다.<br><br>
                  교육은 Ruby on Rails으로 이루어졌으며 <br>
                  seworks, acorn, 패스트트랙아시아, 오렌지연필에서 도움주셨습니다.</h6>

                <div class="history-header-box-img">
                  <img src="/LIKE LION_files/seworks-75835be983c70035dd11be23667c21385fe87ac8ee2a9e10b68f8d41dc5fdc56.png" alt="Seworks">
                  <img src="/LIKE LION_files/orangepencil-c852bf4020133ac17a66ab1634f22f86acad26f65b01d6169d5048efc4d602ef.png" alt="Orangepencil">
                  <img src="/LIKE LION_files/fta-ba7a26fa7f1ae17530dda7b7004d70d865403dc1431b8042c11caf2ed0a3d562.png" alt="Fta">
                </div>

              </div>

            </div>
          </div>
        </div>


      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>

      <!-- markers -->
      <div class="swiper-marker-1"></div>

      <div class="swiper-marker-2">HISTORY</div>

  </div>
</section>






<section class="onepage-swiper hidden-lg-up">
  <!-- Slider main container -->
  <div class="swiper-container ver-mobile swiper-container-vertical">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper" style="transition-duration: 0ms;">
        <!-- Slides -->

        <!-- Summary -->
        <div class="swiper-slide swiper-slide-active">
          <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/summary/mobile/background-9fdb5822180f7953ecbe165145699a47166dc866c619ddc7cd982c9017e53baf.png&#39;)">
            <div class="history-header container">

              <div class="history-header-box left" style="position:relative;">
                  <h3>HISTORY</h3>
                  <hr>
                  <h2><font class="font-weight-bold"></font> 전세계<br>
                    <font class="font-weight-bold">130</font>여개 대학<br>
                    <font class="font-weight-bold">1,916</font>명 선발</h2>

                    <img src="/LIKE LION_files/line-graph-mobile-5ee2cdae17ad3e84c1c046580e237efcb9a9390c53ea4fc8ff065c524cffd92d.png" alt="Line graph mobile">

              </div>

            </div>

            <div class="history-arrow-down">
              <img src="/LIKE LION_files/arrow-down-efe0ecb5432256d0e18ce6e185dace91c90fd8ee266d0b78ec903f17453b6a94.png" alt="Arrow down">
            </div>

          </div>
        </div>

        <div class="swiper-slide swiper-slide-next">

          <div class="swiper-container swiper-container-h swiper-container-horizontal">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" style="transition-duration: 0ms;">
              <!-- 4 -->
              <div class="swiper-slide swiper-slide-active">
                <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/4th/mobile/background-16fb643b78ea12c364db9c8d27ba34e7c9d388d740272fcc09cfaa2b0225cfb2.png&#39;)">
                  <div class="history-header container">
                    <div class="history-header-box center">
                      <div class="history-header-box-mobile-center-item">
                        <div>
                          <h3 class="font-weight-bold">2016<font class="font-weight-thin" style="letter-spacing:normal;margin-left:1.6rem;">4기</font></h3>
                          <hr>
                        </div>
                      </div>
                      <div class="history-header-box-mobile-center-item image-item">
                        <div class="history-background-image" style="background-image: url(&#39;http://likelion.org/assets/histories/4th/mobile/thumbnail-1638aa1f87b9eb4120104982bd8aed2631b3577db40ac802c3f4c53688e7c603.png&#39;)">
                          <!-- <img src="/assets/histories/4th/mobile/thumbnail-1638aa1f87b9eb4120104982bd8aed2631b3577db40ac802c3f4c53688e7c603.png" alt="Thumbnail" /> -->
                        </div>
                      </div>
                      <div class="history-header-box-mobile-center-item text-xs-center">
                        <h6 class="description">미국, 호주, 일본을 비롯한 전국 <font class="font-weight-bold">81개 대학교, 1,182명의 학생</font> (경쟁률 4.8:1)을 대상으로 <font class="font-weight-bold">Ruby on Rails</font> 기반의 교육프로그램을 진행했습니다.</h6>
                      </div>
                      <div class="history-header-box-img">
                        <img src="/LIKE LION_files/logos-116b383e3b43cc94210b39b9853f23b56702e4b5061247fa360755e2d8f2649c.png" alt="Logos">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 3 -->
              <div class="swiper-slide swiper-slide-next">
                <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/3rd/mobile/background-e76b6401f3f94d6fe56bbab7deeef403f4dff9e98606a0e33c5c6fefa06afe77.png&#39;)">
                  <div class="history-header container">
                    <div class="history-header-box center">
                      <div class="history-header-box-mobile-center-item">
                        <div>
                          <h3 class="font-weight-bold">2015<font class="font-weight-thin" style="letter-spacing:normal;margin-left:1.6rem;">3기</font></h3>
                          <hr>
                        </div>
                      </div>
                      <div class="history-header-box-mobile-center-item image-item">
                        <div class="history-background-image" style="background-image: url(&#39;http://likelion.org/assets/histories/3rd/mobile/thumbnail-bff0b2d8787d1c6c05a629265fc0ff9867887e5a44deffacdb39cb6b5b64b72d.png&#39;)">
                          <!-- <img src="/assets/histories/4th/mobile/thumbnail-1638aa1f87b9eb4120104982bd8aed2631b3577db40ac802c3f4c53688e7c603.png" alt="Thumbnail" /> -->
                        </div>
                      </div>
                      <div class="history-header-box-mobile-center-item text-xs-center">
                        <h6 class="description">전국 <font class="font-weight-bold">35개 대학교, 518명의 학생</font> (경쟁률 7.4:1) 을 대상으로 <font class="font-weight-bold">Ruby on Rails</font> 기반의 교육프로그램을 진행했습니다.</h6>
                      </div>
                      <div class="history-header-box-img">
                        <img src="/LIKE LION_files/logos-82ed565691771c3fe3219d02fcd8b63a249350bd1594e8f04809a2a4bdb835d5.png" alt="Logos">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 2 -->
              <div class="swiper-slide">
                <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/2nd/mobile/background-17e43625c88bcb15be1aefde9ce76fdc6928331154fdbe7df1fc4d506e9c1149.png&#39;)">
                  <div class="history-header container">
                    <div class="history-header-box center">
                      <div class="history-header-box-mobile-center-item">
                        <div>
                          <h3 class="font-weight-bold">2014<font class="font-weight-thin" style="letter-spacing:normal;margin-left:1.6rem;">2기</font></h3>
                          <hr>
                        </div>
                      </div>
                      <div class="history-header-box-mobile-center-item image-item">
                        <div class="history-background-image" style="background-image: url(&#39;http://likelion.org/assets/histories/2nd/mobile/thumbnail-47400616aa4bff6430a75e51eb89622481443ece54d2aa25ca879ffb9c3f81d9.png&#39;)">
                          <!-- <img src="/assets/histories/4th/mobile/thumbnail-1638aa1f87b9eb4120104982bd8aed2631b3577db40ac802c3f4c53688e7c603.png" alt="Thumbnail" /> -->
                        </div>
                      </div>
                      <div class="history-header-box-mobile-center-item text-xs-center">
                        <h6 class="description"> <font class="font-weight-bold">수도권 12개 대학교, 177명의 학생</font> (경쟁률 6.1:1) 을 대상으로 <font class="font-weight-bold">Python, Flask</font> 기반의 교육프로그램을 진행했습니다.</h6>
                      </div>
                      <div class="history-header-box-img">
                        <img src="/LIKE LION_files/logos-3238c26d05cd2486c9142443f0e79de54147fc9a577aa3f11f304f211027f51a.png" alt="Logos">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- 1 -->
              <div class="swiper-slide">
                <div class="history-header-wrapper" style="background-image: url(&#39;http://likelion.org/assets/histories/1st/mobile/background-721d6933b4054db912dace1f72d3dcfaa6a7676645d8ecc1dc58fb91fa8da1a1.png&#39;)">
                  <div class="history-header container">
                    <div class="history-header-box center">
                      <div class="history-header-box-mobile-center-item">
                        <div>
                          <h3 class="font-weight-bold">2013<font class="font-weight-thin" style="letter-spacing:normal;margin-left:1.6rem;">1기</font></h3>
                          <hr>
                        </div>
                      </div>
                      <div class="history-header-box-mobile-center-item image-item">
                        <div class="history-background-image" style="background-image: url(&#39;http://likelion.org/assets/histories/1st/mobile/thumbnail-4613447b2486ce127d943949a067d1ae03be6cfb8becd74dcdb9a3ed1d65e5de.png&#39;)">
                          <!-- <img src="/assets/histories/4th/mobile/thumbnail-1638aa1f87b9eb4120104982bd8aed2631b3577db40ac802c3f4c53688e7c603.png" alt="Thumbnail" /> -->
                        </div>
                      </div>
                      <div class="history-header-box-mobile-center-item text-xs-center">
                        <h6 class="description"> <font class="font-weight-bold">서울대학교 30명의 학생</font> (경쟁률 7:1)을 대상으로 <font class="font-weight-bold">Ruby on Rails</font> 기반의 교육프로그램을 진행했습니다.</h6>
                      </div>
                      <div class="history-header-box-img opacity">
                        <img src="/LIKE LION_files/logos-3073bdbb68436e471b19f8118314b44e8c3f9861b470bff4d9a5059279242a6e.png" alt="Logos">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination-h swiper-pagination-bullets"></div>

          </div>

        </div>

      </div>

  </div>
</section>

<style media="screen">
  @media only screen and (max-width: 780px){
    .onepage-swiper .swiper-container{
      width:100vw;
      height:calc(100vh - 100px);
    }
  }
</style>
<script>

  var mySwiper1 = new Swiper ('.swiper-container.ver-pc', {

    // Optional parameters
    direction: 'vertical',
    slidesPerView: 1,
    paginationClickable: false,
    spaceBetween: 0,
    mousewheelControl: true,

    // If we need pagination
    pagination: '.swiper-pagination',

    speed: 600,
    initialSlide: 0,
    // mousewheelSensitivity: 1,


    // onSlideNextEnd: function (swiper) {
    //   if (swiper.isEnd) {
    //     swiper.disableMousewheelControl();
    //   }
    // },

  })

  var mySwiper2 = new Swiper ('.swiper-container.ver-mobile', {

    // Optional parameters
    direction: 'vertical',
    slidesPerView: 1,
    paginationClickable: false,
    spaceBetween: 0,

    speed: 600,
    initialSlide: 0,
    // mousewheelSensitivity: 1,


    // onSlideNextEnd: function (swiper) {
    //   if (swiper.isEnd) {
    //     swiper.disableMousewheelControl();
    //   }
    // },

  })


  var mySwiper3 = new Swiper ('.swiper-container-h', {

    // Optional parameters
    direction: 'horizontal',
    slidesPerView: 1,
    paginationClickable: false,
    spaceBetween: 0,

    // If we need pagination
    pagination: '.swiper-pagination-h',

    speed: 600,
    initialSlide: 0,

  })


  $('.history-arrow-down').on('click',function(){
    mySwiper2.slideNext();
  });
</script>



<!-- Portfolio Modals -->
<div class="history-modal modal fade" id="historyModal_1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">

    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="modal-body">
          <div class="modal-body-box">

            <div class="modal-body-box-items items-1">
              <div>
                <h3>4기 대표 서비스</h3>
                <div class="black-bar"></div>
              </div>
              <div class="font-top-right text-xs-right">
                <div class="font-weight-bold">SERVICE Ⅰ</div>
                <div>내 손안의 시립대</div>
              </div>
            </div>

            <div class="modal-body-box-items items-2">
              <div>
                <h2>서울시립대학교 가상현실지도</h2>
                <div class="font-title">내 손안의 시립대</div>
              </div>
              <div>
                <img src="/LIKE LION_files/uos-76a4dbf4f61fb5b3fd656a946aa7de662d9ab3e54cf117d65d75d96899cb9b30.png" alt="Uos">
              </div>

            </div>

            <div class="modal-body-box-items items-3">

              <div class="font-description right-padding font-weight-thin">
                그동안 학생들은 강의실을 빌릴 때 강의실 호수와 수용 인원에 관한 정보만 알 수 있었다. 모양과 설비 등을 알려면 찾아가 확인하는 수밖에 없어 불편했다. 평소 IT 동아리에서 애플리케이션이나 컴퓨터 프로그램 만들기를 함께 즐겨 했던 이들은 학생들의 불편을 해소해주는 프로그램을 만들기로 했다.
              </div>

              <div class="modal-body-box-items-profile font-weight-thin">

                <div class="item-profile">
                  <img src="/LIKE LION_files/profile-1-889f78cf80df15b25cfeeffaa2ccffc92580c89cc104cab3cfc9e491c911a2a1.png" alt="Profile 1">
                  <div><font class="font-weight-bold">김도겸</font><br>건축학과 3</div>
                </div>

                <div class="item-profile">
                  <img src="/LIKE LION_files/profile-2-9c6bf544d7d0d728442197220fbca27b0551073c1b67c36b01bc2bc999234258.png" alt="Profile 2">
                  <div><font class="font-weight-bold">류진호</font><br>컴퓨터과학부 3</div>
                </div>

                <div class="item-profile">
                  <img src="/LIKE LION_files/profile-3-a47647f749622accf7e3e7ddc29bf0ce5479bbce85edd49c769be8e2e67118df.png" alt="Profile 3">
                  <div><font class="font-weight-bold">장원석</font><br>수학과 4</div>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <div class="container-fluid gray-background" style="position:relative;">
      <div class="row">
        <div class="modal-body-box-items-gray">
          <img src="/LIKE LION_files/service-img-1-4dd3ca289f5491b5746b8ffcfcdc90694372b51428e3f3b3dfe591d9aceb8f98.png" alt="Service img 1">
          <div class="items-right">
            <img src="/LIKE LION_files/service-img-2-cb719b1d7bc645280d3c18ac9561549fc13d45ce574634649e11653396eedb23.png" alt="Service img 2">
            <div class="font-description gray font-weight-thin">
              방학 기간 내내 교내 주요 강의실과 스터디룸, 체육시설 등 90곳과 캠퍼스 곳곳을 VR 사진기로 찍어 ‘온라인 캠퍼스’를 구축하는 작업을 진행했다. 건축학 전공인 김씨가 컴퓨터로 그려낸 ‘캠퍼스 지도’에 장씨와 류씨가 촬영한 VR 사진들을 컴퓨터 프로그램을 이용해 온라인에 3차원으로 구현한 것이다.
            </div>
          </div>
        </div>
        <div class="history-modal-marker-1 font-weight-bold">SERVICE Ⅰ</div>
        <div class="history-modal-marker-2 font-weight-thin">내 손안의 시립대</div>
      </div>
    </div>

    <div class="modal-body-box-items-img gray-background">
      <div class="service-img-3"></div>
      <div class="service-img-4"></div>
    </div>


    <div class="gray-background">
      <div class="container">
        <div clss="row">

          <div class="modal-body">
            <div class="modal-body-box">

              <div class="modal-body-box-framework">
                <div>
                  <h3 class="font-weight-bold">FRAMEWORK</h3>
                  <div class="black-bar"></div>
                </div>
              </div>

              <div class="modal-body-box-items items-framework">
                <div>
                  <img src="/LIKE LION_files/ror-48101dfce701d53ff5ab799f492ed3a54326fc4b5219af1af77dd439796c5c2a.png" alt="Ror">
                  <div class="history-framework-title font-weight-thin">Ruby on Rails</div>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>



  </div>
</div>
